* {
    box-sizing: border-box
}

.background {
    background-image: url('../../images/ATFLogoBlackTransparent.png');
    position: absolute;
    z-index: 1;
}

@media screen and (max-width:600px) {

}

